:root {
    --gray: #40ff49;
    --background: #272A36;
    --header: #ccff00;
    --text: #F5F3F1;
    --title: #eeb7eb;
    --command: #40ff49;
    --error: #ff8383;
}

body {
    background-image: var(--gray);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-items: center;
    background-color: var(--gray);
    color: var(--text);
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    height: 100vh;
    scroll-padding-top: none;
    overflow: hidden;
}

.gary {
    width: 100px;
    height: 10px;
}

main {
    height: 500px;
    width: 500px;
    max-width: 550px;
}

.command::-webkit-scrollbar {
    background-color: transparent;
}

.terminal {
    background-color: var(--background);
    color: var(--text);
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: scroll;
    height: 100%;
}

.terminal div {
    margin-top: 1px;
}

.header {
    padding: 0 20px;
    height: 25px;
    margin: 0;
    background-color: var(--header);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

a {
    color: #0059ff;
}

.prompt {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 7px;
}

input {
    background-color: var(--background);
    color: var(--text);
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    border: none;
}

input:focus {
    outline: none;
}

.sectionTitle {
    font-size: 24px;
    font-weight: 600;
}

.title {
    color: var(--title);
    font-weight: 600;
}

.error {
    color: var(--error);
    font-weight: 600;
}

.command {
    color: var(--command);
    font-weight: 600;
}

.indent {
    margin-left: 5px;
}

.hidden {
    display: none;
}

@media (max-width: 750px) {
    main {
        width: 100%;
    }
}
